body{
    background-color:#303030;
    color: rgb(255, 255, 255);
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;  
}

.text-apper-in-middle {
    display: flex;
    justify-content: center; 
    align-items: center;  
}   

.text-apper-on-left{
    display: flex;
    justify-content: left; 
    align-items: left; 
}

.text-apper-on-right{
    display: flex;
    justify-content: right; 
    align-items: right; 
}



.About-Me{
    display: flex;
    justify-content:left; 
    align-items: left;  
    background-color: rgba(245, 245, 245, 0.468);
}

.Contact-Me{
    display: flex;
    justify-content:right; 
    align-items: right;  
    background-color: rgba(245, 245, 245, 0.468);

}

.My-Projects{
    display: flex;
    justify-content: left; 
    align-items: left;  
    background-color: rgba(245, 245, 245, 0.468);

}


.random-music {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.video-background {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    z-index: -1; /* Ensures the video stays in the background */
}

/* Image container */
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}


/* Image scaling and transformation */
.image {
    width: 18%;
    height: 15%;
    object-fit: cover;  /* Ensures the image covers the box without distortion */
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.1); /* Increase size to 120% */
}