.project-image-container {
    display:flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 27px;
}

table, th, td {
    border:1px solid black;
    font-size: 20px;
}



p {
    font-size: 12px;
}

.project-image-container img {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}


.project-image-container-JS img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;
}

.grid-item:hover .project-image-container img {
    transform: scale(1.03); /* Scale image on hover */
}



.grid-item:hover .project-image-container-JS img {
    transform: scale(1.03); /* Scale image on hover */
}